<% form_for_comments @comment do |f| %>

   <p><b>Subject:</b> <%= @comment.subject %></p>
   <%= f.hidden_field :subject %>
   
   <p><b>Name:</b> <%= @comment.name %></p>
   <%= f.hidden_field :name %>
   
   <p><b>Email:</b> <%= @comment.email %></p>
   <%= f.hidden_field :email %>
   
   <p><b>Comment:</b> <%= @comment.body_to_markdown %></p>
   <%= f.hidden_field :body %>
   
   <%= f.hidden_field :parent_id %>
   <%= f.hidden_field :content_id %>

   <%= submit_button %>	
   
<% end %>