<% @title = @content.title %>

<% @main_category = @content.main_category.name %>

<h1><%= @content.title %></h1>
 
<h2><%= @content.description %></h2>

<%= spiro %>

<%= parse_cheatsheet_xml(@content.parsed_content) %>

<%= spiro %>

<%= render(:partial => "contents/related", :object => @content ) %>
<%= render(:partial => "comments/comments", :object => @content ) %>
