<% @title = @content.title %>

<% @main_category = @content.main_category_name %>

<h1><%= asterisk %> <%= @content.title %> Cheatsheet</h1>
<h2><%= @content.description %></h2>

<%= render(:partial => "shared/section_list", :object => @content.sections, :locals => { :current_article_permalink => nil} ) %>
<div id="cheatsheet">
<% sections = @content.sections.collect { |section| section.body } %>
	<%=  parse_cheatsheet_xml(sections.to_s)%>

</div>
<%= spiro %>

<%= render(:partial => "contents/related", :object => @content ) %>
<%= render(:partial => "comments/comments", :object => @content ) %>

<% content_for :thumbnail do %>

	<div class="cheatsheet_thumbnail">
		
		<%= pdf_thumbnail(@content) %>
		
		<p><%= link_to image_tag ("f/small_icons/pdf_sheet.png"), formatted_content_path(:id => @content.permalink, :format => "pdf") %> 
		   <%= link_to "PDF version", formatted_content_path(:id => @content.permalink, :format => "pdf") %></p>
	</div>
<% end %>