<% @title = @content.title %>

<% @main_category = @content.main_category_name %>

<h1><%= asterisk %> <%= @content.title %> Cheatsheet</h1>
<h2><%= @content.description %></h2>

<%= render(:partial => "shared/content/section_list", :object => @content.sections, :locals => { :current_article_permalink => nil} ) %>

<%= spiro %>

<%= render(:partial => "contents/related", :object => @content ) %>
<%= render(:partial => "comments/comments", :object => @content ) %>

<% content_for :thumbnail do %>

	<%= pdf_thumbnail(@content) %>
	<%= spiro %>

<% end %>