<h1>New article</h1>

<%= error_messages_for(:article) %>

<% form_for :article, :url => contents_path, :html => { :method => :post } do |form| %>

	<%= render :partial => "form", :object => form %>

<%= submit_button %>

<% end %>