[submodule "vendor/plugins/annotate_models"]
	path = vendor/plugins/annotate_models
	url = git://github.com/rotuka/annotate_models.git
[submodule "vendor/plugins/acts_as_tree"]
	path = vendor/plugins/acts_as_tree
	url = git://github.com/rails/acts_as_tree.git
[submodule "vendor/plugins/validates_existence"]
	path = vendor/plugins/validates_existence
	url = git://github.com/joshsusser/validates_existence.git
[submodule "vendor/plugins/will_paginate"]
	path = vendor/plugins/will_paginate
	url = git://github.com/mislav/will_paginate.git
[submodule "vendor/plugins/yaml_db"]
	path = vendor/plugins/yaml_db
	url = git://github.com/adamwiggins/yaml_db.git
[submodule "vendor/plugins/cache_test"]
	path = vendor/plugins/cache_test
	url = git@github.com:mrdizzy/cache_test.git
[submodule "vendor/plugins/acts_as_binary"]
	path = vendor/plugins/acts_as_binary
	url = git@github.com:mrdizzy/acts_as_binary.git
[submodule "vendor/plugins/text_captcha"]
	path = vendor/plugins/text_captcha
	url = git@github.com:mrdizzy/text_captcha.git
