<div id="comment_form_<%= params[:comment_id] %>" style="display:none;">
	<% remote_form_for :comment, :url => child_comments_path do |form| %>
	
		<%= render :partial => "form", :object => form %>
		
	<% end %>
</div>
