<div id="comments">

	<div id="comments_header"><p class="posted_in"> <%= asterisk %> COMMENTS </p></div>
	
	<%= prepare_comments(comments.comments) %>
	
	<div id="add_comment">
		<p><%= diamond %> <%= link_to_remote "Add new comment", :url => new_content_comment_path(@content.id), :method => :get %></p>
	</div>

</div>