<label for="comment_subject"><%= diamond %> Subject</label>
<%= form.text_field :subject %><br/>
		
<label for="comment_email"><%= diamond %> Email</label>
<%= form.text_field :email %><br/>
	
<label for="comment_content"><%= diamond %> Comment</label>
<%= form.text_area :body, :size=>"20x10" %><br/>
 	
<%= form.hidden_field :content_id %>

<%= submit_button %>	

<div id="spinner" class="left" style="display:none;">
<img alt="Spinner" src="/images/f/spinner.gif" />
</div>