<label for="comment_subject"><%= diamond %> Subject</label>
<%= form.text_field :subject %><br/>
		
<label for="comment_email"><%= diamond %> Email</label>
<%= form.text_field :email %><br/>
	
<label for="comment_content"><%= diamond %> Comment</label>
<%= form.text_area :body, :size=>"20x10" %><br/>
 	
<%= submit_button %>