<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3c.org/TR/1999/REC-html401-19991224/loose.dtd">
<patTemplate:tmpl name="header">
	<html>
	<head><title>Dizzy: Admin</title>
	<link href="/stylesheets/admin_stylesheet.css" type="text/css" rel="stylesheet">
</patTemplate:tmpl>

<patTemplate:tmpl name="admin_menu">
	<hr/>
	<div id="menu">
		<a href="/scripts/portfolio.php">Home</a> 
		<a href="/scripts/portfolio.php?purpose=view_portfolio">View portfolio</a><br/>
	</div>	
	<hr/>
	
	<patTemplate:tmpl name="errors" type="SimpleCondition" requiredvars="ERROR">	
	
	<div id="errors">	
		<ul>
			
		<patTemplate:tmpl name="error_messages" type="SimpleCondition" requiredvars="ERROR">
			<li>{ERROR}</li>
		</patTemplate:tmpl>
		</ul>
	</div>		
			<hr/>
	</patTemplate:tmpl>
</patTemplate:tmpl>
<patTemplate:tmpl name="admin_home">


<div "add_new_portfolio_item">
<h1>Add new portfolio item</h1>
<hr />

<form action="portfolio.php" method="POST" enctype="multipart/form-data">
<input type="hidden" name="purpose" value="add_new_item">
	Company: <input type="text" name="company" size="40"><p>
	Description: <textarea name="description" cols="50" rows="6"></textarea><p>
<patTemplate:tmpl name="file_uploads"> 
{TYPE}: <input type="file" name="{TYPE}"><br />
</patTemplate:tmpl> 

<input type="submit">
</form>
</div>
</body>
</html>	
	
</patTemplate:tmpl>
<patTemplate:tmpl name="list_portfolio">
	
<style type="text/css">

#column1 { 
	position-left: 2%;
	width:18%;
	float:left;
}
#logos {
width:80%;
}
table { width:100%;
margin: 0 auto;
text-align:center;
vertical-align:middle;
border-collapse:collapse;
padding:0;
}	
	td {
	border-style:dotted;
border-width:1px;
border-color:#888;
border-spacing:0px;
padding:0px;
}
.logo{ 
border-right:0px;
border-left:0px;
}
</style>

</head>
<body>

	<patTemplate:tmpl name="portfolio_item">

<div id="content_container">
	<div id="column1">
		<img src="/g/p/{ID}_header.png"><br/>

		
<form action="portfolio.php" method="POST" enctype="multipart/form-data">
			<input type="file" size="10" name="header"><br/>
			<a href="portfolio.php?purpose=delete&id={ID}">delete</a>
<input type="hidden" name="purpose" value="modify_item" />
	<input type="hidden" name="id" value="{ID}" />
	<input type="text" name="company" value="{NAME}" size="20"/>
			
			<textarea name="description" rows="10" cols="20">{DESCRIPTION}</textarea>
	</div>
<div id="logos">	
	<table>
		<tr>	
		<td class="header"><h3 class="nopadding">Logo</h3></td>
		<td class="header"><h3 class="nopadding">Business card</h3></td>
		<td class="header"><h3 class="nopadding">Letterhead</h3></td>
	</tr>
	<tr>
		<td>
			<table>
				<tr>
					<td class="logo"><img src="/g/p/{ID}_blogo.png"></td>
				</tr>
				<tr>
					<td><input type="file" size="10" name="blogo"></td>
				</tr>
				<tr>
					<td class="logo"><img src="/g/p/{ID}_clogo.png"></td>
				</tr>
				<tr>
					<td><input type="file" size="10" name="clogo"></td>
				</tr>

			</table>
			<img src="/g/p/{ID}_glogo.png">
		</td>
		<td class="other"><img src="/g/p/{ID}_card.png"></td>
		<td class="other"><img src="/g/p/{ID}_letter.png"></td>

		</tr>
	<tr>
		<td><input type="file" size="10" name="glogo"></td>
		<td><input type="file" size="10" name="card"></td>
		<td><input type="file" size="10" name="letter"></td>
		</tr>

<patTemplate:tmpl name="row" type="modulo" modulo="3">
  <patTemplate:sub condition="0"> 

    <tr>   
    <patTemplate:tmpl name="cells3">
        <td colspan="{COLSPAN}"><input type="file" size="10" name="{VALUE}"></td>
    </patTemplate:tmpl>
        </tr>
    </patTemplate:sub>
   <patTemplate:sub condition="1"> 

    <tr>   
    <patTemplate:tmpl name="cells">
        <td class="header" colspan="{COLSPAN}"><h3 class="nopadding">{VALUE}</h3></td>
    </patTemplate:tmpl>
        </tr>
    </patTemplate:sub>
    		   <patTemplate:sub condition="2"> 

    <tr>
    	   
       
        <patTemplate:tmpl name="cells2" type="condition" conditionvar="VALUE">
<patTemplate:sub condition="0">
 <td colspan="{COLSPAN}">no entry</td>
</patTemplate:sub>
<patTemplate:sub condition="default">
<td colspan="{COLSPAN}"><img src="/g/p/{VALUE}"><br/><a href="portfolio.php?purpose=remove&type={TYPE}&id={ID_NUMBER}">delete</a></td>
</patTemplate:sub>
   </patTemplate:tmpl>
        </tr>
    		</patTemplate:sub>


</patTemplate:tmpl>
	</table>
	</div>
	
</div>
<input type="submit">
</form>
		<hr/>
</patTemplate:tmpl>
</body>
</html>
</patTemplate:tmpl>