<h1>Editing</h1>

<% form_for :portfolio_type, :url => portfolio_types_path, :html => { :multipart => true,  :method => :put  }do |form| %>

  <%= render :partial => 'portfolio_type', :collection => @portfolio_types  %>

<p style="display: none;"><input alt="Spam me" name="Send" class="send-btn" type="submit" value="Spam me" id="Send" src="/images/f/buttons/submit2.png" /></p>

<p><%= submit_button %></p>

<% end %>