<h1>New portfolio_type</h1>

<% form_for :portfolio_type, :url => { :action => :create }, :html => { :multipart => true } do |form| %>

  <%= render :partial => 'form', :object => form %>
  <%= submit_button %>
<% end %>
