<%= error_messages_for 'folder' %>

<!--[form:folder]-->
<p><label for="folder_parent_id">Parent</label><br/>
<%= collection_select 'folder', 'parent_id', Folder.find(:all), :id, :name %></p>

<p><label for="folder_name">Name</label><br/>
<%= text_field 'folder', 'name'  %></p>

<!--[eoform:folder]-->

