<% @companies.each do |company| %>
	<p><%= link_to_remote company.name, { :url => formatted_portfolio_path(company.id, :js), :method => :get } %></p>
<% end %>

<%= link_to_remote "&laquo; Previous", { :url => formatted_portfolios_path(:page => @company_pages.current.previous, :format => :js), :method => :get } if @company_pages.current.previous %>

<%= link_to_remote "Next &raquo;", { :url => formatted_portfolios_path(:page => @company_pages.current.next, :format => :js), :method => :get } if @company_pages.current.next %>