<% @companies.each do |company| %>
	<p><%= link_to_remote company.name, { :url => formatted_portfolio_path(company.id, :js), :method => :get } %></p>
<% end %>

<%= will_paginate @companies, :renderer => 'RemoteLinkRenderer' %>
