<div id="column1">
	
	<div id="company_description"><%= render :partial => "company_description" %></div>
	
	<div id="portfolio_list"><%= render :partial => "company_list" %></div>
	
	<div id="next"></div>
		
</div>

<div id="logos"><%=	portfolio_table %></div>