<TMPL_INCLUDE NAME="html_header.tmpl">
<IMG SRC="graphics/trolleycircle.gif" hspace=8 vspace=4>
<font face="verdana,arial,helvetica" size=3 color=#2AAFCF><B>Payment details<B>
<FORM ACTION="https://dizzy.co.uk/existing_customer_checkout_b.pl" method=GET>
<input type="hidden" name="purpose" value="new_customer">
<input type="hidden" name="postage" value="<TMPL_VAR NAME="postage">">
<input type="hidden" name="title" value="<TMPL_VAR NAME="title">">
<input type="hidden" name="telephone" value="<TMPL_VAR NAME="telephone">">
<input type="hidden" name="address1" value="<TMPL_VAR NAME="address1">">
<input type="hidden" name="address2" value="<TMPL_VAR NAME="address2">">
<input type="hidden" name="town" value="<TMPL_VAR NAME="town">">
<input type="hidden" name="county" value="<TMPL_VAR NAME="county">">
<input type="hidden" name="surname" value="<TMPL_VAR NAME="surname">">
<input type="hidden" name="identno" value="<TMPL_VAR NAME="identno">">
<input type="hidden" name="adtrack" value="<TMPL_VAR NAME="adtrack">">
<input type="hidden" name="referer" value="<TMPL_VAR NAME="referer">">
<input type="hidden" name="firstname" value="<TMPL_VAR NAME="firstname">">
<input type="hidden" name="postcode" value="<TMPL_VAR NAME="postcode">">
<input type="hidden" name="emailaddy" value="<TMPL_VAR NAME="emailaddy">">
<input type="hidden" name="companyname" value="<TMPL_VAR NAME="companyname">">
<input type="hidden" name="referral" value="<TMPL_VAR NAME="referral">">
<input type="hidden" name="purchasenumber" value="<TMPL_VAR NAME="purchasenumber">">

<TABLE width=98% align=center><TR><TD>
<font face="arial,helvetica,verdana" size=-1 color=#000000> 
<P>
You can pay for your order using one of the following cards: Visa, Visa Delta, Mastercard, Switch, Solo, 
American Express, Diner's Club, JCB and Eurocard. Please carefully enter your card details into the form below. 
This transaction is carried out over a secure server as shown by the padlock in your browser, so you can 
be certain your details remain safe and secure.

<P>
<B>You will be able to confirm your order on the next page before your credit card is charged!
<P>


<TABLE width=50% cellspacing=2 cellpadding=2>
<TR><TD width=25% align=right valign=top><IMG SRC="/graphics/square.gif" vspace=2 hspace=10></TD>
<TD width=75%><font face="arial,helvetica,verdana" size=2 color=#2AAFCF><B>Card number</font><BR>
<input type=text name="cardnumber" size=25></TD></TR>
<TR><TD width=25% align=right valign=top><IMG SRC="/graphics/square.gif" vspace=2 hspace=10></TD>
<TD><font face="arial,helvetica,verdana" size=2 color=#2AAFCF><B>Start/Valid from date<BR>
<select name="startmonth">
<option value="01"> 01<option value="02"> 02<option value="03"> 03<option value="04"> 04<option value="05"> 05<option selected value="06"> 06<option value="07"> 07<option value="08"> 08<option value="09"> 09<option value="10"> 10<option value="11"> 11<option value="12"> 12 
</select>
<select name="startyear">
<option value="1990"> 1990<option value="1991"> 1991<option value="1992"> 1992<option value="1993"> 1993<option value="1994"> 1994<option value="1995"> 1995<option value="1996"> 1996<option value="1997"> 1997<option value="1998"> 1998<option value="1999"> 1999<option value="2000"> 2000<option value="2001"> 2001<option value="2002"> 2002<option value="2003"> 2003
</select></TD></TR>


<TR><TD width=25% align=right valign=top><IMG SRC="/graphics/square.gif" vspace=2 hspace=10></TD>
<TD><font face="arial,helvetica,verdana" size=2 color=#2AAFCF><B>Expiry date<BR>
<select name="expirymonth">
<option value="01"> 01<option value="02"> 02<option value="03"> 03<option value="04"> 04<option value="05"> 05<option selected value="06"> 06<option value="07"> 07<option value="08"> 08<option value="09"> 09<option value="10"> 10<option value="11"> 11<option value="12"> 12 
</select>
<select name="expiryyear">
<option value="2002"> 2002<option value="2003"> 2003<option selected value="2004"> 2004<option value="2005"> 2005<option value="2006"> 2006<option value="2007"> 2007<option value="2008"> 2008<option value="2009"> 2009<option value="2010"> 2010<option value="2011"> 2011<option value="2012"> 2012<option value="2013"> 2013<option value="2014"> 2014<option value="2015"> 2015<option value="2016"> 2016<option value="2017"> 2017<option value="2018"> 2018
</select></TD></TR>
<TR><TD width=25% align=right valign=top><IMG SRC="/graphics/square.gif" vspace=2 hspace=10></TD><TD>
<font face="arial,helvetica,verdana" size=2 color=#2AAFCF><B>Name on card (Please type exactly as it appears, including any title such as Mr, Mrs, or Dr)<BR>
<input type=text name="cardholder" size=28></font></TD></TR>
<TR><TD width=25% align=right valign=top><IMG SRC="/graphics/square.gif" vspace=2 hspace=10></TD><TD>
<font face="arial,helvetica,verdana" size=2 color=#2AAFCF><B>Issue no. (Switch/Solo only, leave blank if not applicable)</font><BR>
<input type=text name="issueno" size=4 maxlength=5><BR>
<input type=image src="graphics/submit.gif"></TD></TR>


</TABLE>
</TD>
</TD></tr></TABLE>
<TMPL_INCLUDE NAME="html_footer.tmpl">