<patTemplate:tmpl name="home">
<html><head>
<title>Dizzy: Outside the words.</title>
<link href="http://www.dizzy.co.uk/stylesheets/stylesheet1.css" type="text/css" rel="stylesheet">
<script type="text/javascript"> 
 var image1 = new Image();
  image1.src = "http://www.dizzy.co.uk/g/p/104_clogo.png"; 
 var image2 = new Image();
  image2.src = "http://www.dizzy.co.uk/g/p/105_clogo.png"; 
 image3 = new Image();
  image3.src = "http://www.dizzy.co.uk/g/p/100_clogo.png"; 
 image4 = new Image();
  image4.src = "http://www.dizzy.co.uk/g/p/106_clogo.png"; 
 image5 = new Image();
  image5.src = "http://www.dizzy.co.uk/g/p/98_clogo.png"; 
 image6 = new Image();
  image6.src = "http://www.dizzy.co.uk/g/p/96_clogo.png"; 
 image7 = new Image();
  image7.src = "http://www.dizzy.co.uk/g/p/107_clogo.png"; 
 image8 = new Image();
  image8.src = "http://www.dizzy.co.uk/g/p/88_clogo.png"; 
 image9 = new Image();
  image9.src = "http://www.dizzy.co.uk/g/p/108_clogo.png"; 
   image10 = new Image();
  image10.src = "http://www.dizzy.co.uk/g/e/cocktailanim.gif"; 
     image11 = new Image();
  image11.src = "http://www.dizzy.co.uk/g/e/smoking.gif"; 
       image12 = new Image();
  image12.src = "http://www.dizzy.co.uk/g/e/glassesanim.gif"; 
       image13 = new Image();
  image13.src = "http://www.dizzy.co.uk/g/e/mananim.gif"; 
  
function rollThis(whichImage,whichPic){
document.images[whichImage].src = whichPic;
}
function changeBack(whichImage,whichPic){
document.images[whichImage].src = whichPic;
}
 var done1 = 0;
 var done2 = 0;
 var done3 = 0; 
 var done4 = 0;
 
function cocktail()
{  
 if (done1 != 1) {
document.image10.src = "http://www.dizzy.co.uk/g/e/cocktailanim.gif";
done1 = 1;
}
}
function smoking()
{  
 if (done2 != 1) {
document.image11.src = "http://www.dizzy.co.uk/g/e/smoking.gif";
document.slogan.src = "http://www.dizzy.co.uk/g/e/slogananim.gif";
done2 = 1;
}
}
function glasses()
{  
 if (done3 != 1) {
document.image12.src = "http://www.dizzy.co.uk/g/e/glassesanim.gif";
done3 = 1;
}
}
function man()
{  
 if (done4 != 1) {
document.image13.src = "http://www.dizzy.co.uk/g/e/mananim.gif";
done4 = 1;
}
}
</script>
<script type="text/javascript" src="scripts/slideshow.js"></script>

<style type="text/css">

.left {
float:left;
}
.spirograph { 
 clear:both; 
 text-align:center; 
 width:98%; 
 margin:0 auto;
 border: 0px dotted #999; 
 padding: 5px 0px 5px 0px; 
}
#icons {
	padding-top:53px;
	}
#logos {
	padding-top:10px;
	padding-bottom:10px;
	width:100%;
}
table { 
	text-align:center;
	vertical-align:middle;
	width:100%;
	border-collapse:collapse;
}	
td {
		border-style:dashed;
	border-width:1px;
	border-color:#C4C4C4;
	height: 90px;
	width:33%;
}
#cart { 
	padding-top:4px;
}
#cart_menu { 
	float:right; 
}
#welcome {
	position:relative;
	top:-10px;
	width: 350px; 
	height:69px;
	margin: 0 auto;
}
#icon {
	float: left; 	
}
#headline_text {
	padding-top:20px;
}
#column0 {
	position: absolute;
	left:10px;
	top:120px;
	width:180px;
	float:left;\
}
#column1content {
	width:173px;
	float:left;
}
.divider {
	width:7px;
	float:left;
}
#column1 { 
	background:#fff;
	margin-left: 209px;
	margin-right:264px;
	voice-family: "\"}\"";
	voice-family: inherit;
	margin-left: 211px;
	margin-right:266px;
	padding: 15px 0 0 0;
}
#column2 { 
	position: absolute;
	right:10px;
	top:120px;
	width:250px;
}
	#column2content {
	width:238px;
	padding-left:5px;
	float:left;
}
#right_line{ 
	padding: 4px 0px 7px 0px;
}
#blog {
	padding-top:7px; 
}
#date { 
	color:#999; 
	padding-top:15px;  
}

</style>
</head>

<body onLoad="runSlideShow()">
<div id="top_container">
	<div id="logo"><img src="http://www.dizzy.co.uk/g/e/slogan.png" width="180" height="36" alt="Making business beautiful."/><img src="http://www.dizzy.co.uk/g/e/logo.png" width="85" height="84" alt="logo"/></div>
	<div id="package">	
			<div id="button1" class="button"><img name="button1" src="/g/f/home.png" />  <br/>
			<a href="/">Home</a></div>
			<div id="button2" class="button"><img src="/g/f/login.png" /><br/>
			<a href="/">Login</a></div>
			<div id="button3" class="button"><img src="/g/f/cart.png" /><br/>
			<a href="/">View Cart</a></div>		
			<div id="button4" class="button"><img src="/g/f/life.png" /><br/>
			<a href="/">Help</a></div>
</div>
</div>
<div id="column0">
	<div id="column1content">
		<div id="blog_logo" class="left"><img src="/g/blog/logo_small.gif" alt="blog" /></div>
	
		<div id="date">Thu, 22nd April 2006</div>
		<div id="blog" class="clearfix">
		<h6 class="grey">What makes for good logo design?</h6>
		<h5 class="grey"><b>Every day, I see so many small businesses with simply awful logos. I've always worked 
		on the premise that, if you don't know what you're doing, then don't try and figure things
		out yourself: <a class="purple" href="">learn and be inspired by the best...</a> </b></h5>
		</div>
	</div>
	<div id="one" class="divider"><IMG src="/g/f/lines/homepage1.gif" alt="|" width="7" height="752" /></div>
</div>
<div id="column1">
	

	<img src="/g/WELCOME.gif" width="230" height="30" alt="Welcome" />
	<h3>At Dizzy, our aim is to bring graphic design services of a quality equal to that expected by blue-chip 
	corporations to small businesses at low, fixed-price packages you can afford. </h3>
				
	<p><img src="/g/f/square.gif" width="12" height="12" alt="*" /> <b>Now, more than ever,</b> it's 
	increasingly essential to make sure that your business portrays a professional image that stands out from the
	crowd. Having a custom-made brand image was once only the domain of big corporations, but now, a high-quality 
	design and print service is available to you.</p>
	<ul>
	  <li><b>Graphic design and layout for traditional print media.</b>. If it's on paper, we can create it! 
	  	From logo creation to stationery, press
	  	advertisements and brochures, our fixed-price packages make sure you have no nasty surprises</li>
	  <li><b>Graphic design and layout for the Web.</b></li>
	  <li>Publication of ebooks for business and computing </li></ul>
	<p>
	  	<b>Our aim</b> is to bring the same level and quality of service expected by blue-chip corporations to small businesses
	  	at fixed prices they can afford.</p>
	  	<div id="signature"><img src="/g/h/davidsign.gif" alt="Signature" /></div>
	  	
	<img src="/g/f/square.gif" width="12" height="12" alt="*" /> <b>David Pettifer,</b><br /> Co-founder
	
	<div id="box" class="left">
				<img src="/g/boxhome.gif" alt="Business identity package" /><br/>
			<img src="/g/from.gif" alt="From 99.99" />
	</div>
	<div id="corporate_id"><br /><p>
			<b>A professional image for your business is essential in today's crowded marketplace.</b>
			 You wouldn't meet customers wearing shabby clothes with unkempt hair: so neither should
			  your business greet its customers with a poorly-designed image. Your company's logo 
			  and business cards are often the first things a customer will see and judge you upon, 
			  so it's important to make an excellent first impression...</p>
	<p>
		With our business identity packages, our world-class designers will give you a brand new 
		look and style based on your requirements, whether it's a simple business card or a 
	complete overhaul of all your stationery, at unbelievable prices... 
	
	<p><b><a href="business.html">More details>></a></b></p>
	</div>
	<div id="logos">
	<table>
				<tr>
					<td><img src="/g/h/portfolio/bextergrey.gif"></td>
					<td><img src="/g/h/portfolio/heavenlygrey.gif"></td>
					<td><img src="/g/h/portfolio/pmggrey.gif"></td>
		</tr>
				<tr>
					<td><img src="/g/h/portfolio/casamientogrey.gif"></td>
					<td><img src="/g/h/portfolio/uniformgrey.gif"></td>
					<td><img src="/g/h/portfolio/silvergrey.gif"></td>
				</tr>
				<tr>
					<td><img src="//g/h/portfolio/tetrisgrey.gif"></td>
					<td><img src="/g/h/portfolio/rosegrey.gif"></td>
					<td><img src="/g/h/portfolio/hilarygrey.gif"></td>
				</tr>
			</table>
		</div>
</div>
	
	<div id="column2">
			<div id="two" class="divider"><img src="/g/f/lines/homepage1.gif" width="7" height="751" alt="|" /></div>
			<div id="column2content"><img src="g/h/cartoon.png" name='SlideShow' />
				<div id="right_line"><img src="/g/f/rightline.png" /></div>
<img class="padding" alt="Business" 
src="/g/f/ltdcoform.gif" /><br/><b>Our first ebook</b> contains everything 
you need to form and run your own limited company, even if you're a complete novice.... 
<div id="box2"><img src="/g/cover2.gif" alt="DIY Ltd Company Cover" /></div>
From incorporating your company right 
through to filing annual accounts, understanding resolutions, VAT, corporation 
tax and PAYE you'll find this essential reading. <p>
<b><a href="/dizzy.co.uk/1/new.html">More details >></a></b>
</div>
</div>
</patTemplate:tmpl>
<patTemplate:tmpl name="footer">
	
 <div id="spiral9" class="spirograph">
<img src="http://www.dizzy.co.uk/g/f/spiro.gif" width="40" height="41" alt="*" /></div>

 <div id="footer"> 
<div id="small_logo"><img name="slogan" src="http://www.dizzy.co.uk/g/e/slogan2.gif" alt="Making business beautiful." /><img src="http://www.dizzy.co.uk/g/e/smalllogo.png" alt="logo" /></div>
<img name="image10" width="64" height="100" class="character" src="http://www.dizzy.co.uk/g/e/cocktail2.gif" onmouseover="cocktail()" />
 
 <img name="image11" width="55" height="89" class="character" src="http://www.dizzy.co.uk/g/e/lady3.gif" onmouseover="smoking()" />
 
 <img name="image12" width="59" height="96" class="character" src="http://www.dizzy.co.uk/g/e/glasses1.gif" onmouseover="glasses()" />
<img name="image13" width="58" height="100" class="character" src="http://www.dizzy.co.uk/g/e/man2.gif" onmouseover="man()" />
 </div>

</div>
</patTemplate:tmpl>