<patTemplate:tmpl name="view_cart"><!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3c.org/TR/1999/REC-html401-19991224/loose.dtd">

<HTML><HEAD><TITLE>Dizzy > View cart</TITLE>

<STYLE type=text/css>
	
#header {
	TEXT-ALIGN: center
}
#logo {
	FLOAT: left; WIDTH: 109px; 
}
#bluebox {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; BACKGROUND-IMAGE: url(/g/f/bluebox.gif); PADDING-BOTTOM: 1px; MARGIN-LEFT: 109px; PADDING-TOP: 1px; BACKGROUND-REPEAT: no-repeat; TEXT-ALIGN: right; HEIGHT: 126px;
}
#whitewelcome {
	PADDING-TOP: 15px;
}
#contents { 
PADDING-LEFT: 12px;
float:left;
}
#cartbar {
FLOAT: right;
} 
#footer {
	MARGIN-TOP: 15px; MARGIN-LEFT: auto; WIDTH: 740px; MARGIN-RIGHT: auto; POSITION: relative; top: 25px;
}
#footer_line {
	POSITION: absolute; TOP: -25px
}
#spirograph {
	LEFT: 350px; FLOAT: left; POSITION: relative
}
#topline { 
position: relative; top: -10px; z-index: 1;
}
#dizzy_man {
	LEFT: 150px; FLOAT: left; POSITION: relative
}
#small_diz_logo {
	LEFT: 450px; FLOAT: left; POSITION: relative
}

#welcome {
	CLEAR: both; MARGIN-BOTTOM: 15px; MARGIN-LEFT: auto; WIDTH: 350px; MARGIN-RIGHT: auto; 
}
</style>
<link href="/stylesheets/stylesheet1.css" type="text/css" rel="stylesheet">

<body>
	
<div id="top_container">
	<div id="logo"><img src="http://www.dizzy.co.uk/g/e/slogan.png" width="180" height="36" alt="Making business beautiful."/><img src="http://www.dizzy.co.uk/g/e/logo.png" width="85" height="84" alt="logo"/></div>
	<div id="package">	
			<div id="button1" class="button"><img name="button1" src="/g/f/home.png" />  <br/>
			<a href="/">Home</a></div>
			<div id="button2" class="button"><img src="/g/f/login.png" /><br/>
			<a href="/">Login</a></div>
			<div id="button3" class="button"><a href="/scripts/cart.php"><img src="/g/f/cart.png" /></a><br/>
			<a href="/scripts/cart.php">View Cart</a></div>		
			<div id="button4" class="button"><img src="/g/f/life.png" /><br/>
			<a href="/">Help</a></div>
	</div>
</div>
<DIV id="contents">
	<img src="/g/f/you-are-here.gif" vspace="0" hspace="0">
<A CLASS="category" HREF="/index.pl?adtrack=&campaign=">
Home</A> > <b class="header">View Cart</B></font>
</DIV>
<DIV id="cartbar">
	
<img src="/g/f/cartbar.gif" />
</DIV>
<img src="/g/f/trolleymenu.gif">
<TABLE width=650 cellpadding=4 border=0>
<patTemplate:tmpl name="items">
<TR><TD width=18% align=center> <font face="arial,helvetica,verdana" size=2><B>{CODE}</B></TD><TD width=15%> 

<A HREF="/1/1.pl?&source"><img src="/g/products/thumbs/{CODE}.gif"></A></TD><TD width=20%><font face="arial,helvetica,verdana" size=2><A HREF="">{NAME}</A></TD><TD width=17% align=center>

     <IMG SRC="/g/small_icons/ebookicon.gif">

</TD><TD width=17% align=center><font face="arial,helvetica,verdana" size=2>£{PRICE}</TD><TD width=10%><font face="arial,helvetica,verdana" size=2>£{SUBTOTAL}</TD><TD width=9%>
<A HREF="cart.php?purpose=remove&id={ID}&code={CODE}">
<IMG SRC="/g/f/remove.gif" border=0></A></TD></TR>
</patTemplate:tmpl>

<TR><TD></TD><TD></TD><TD></TD><TD align=right>
<font face="arial,helvetica,verdana" size=2><B>Total:</B>
</TD><TD><font face="arial,helvetica,verdana" size=2><B>£<TMPL_VAR NAME="total"></B></TD></TR>
</TABLE>
</DIV>

<DIV id=footer>
	<DIV id=footer_line><IMG src="/g/f/footerline.gif" alt="---" /></DIV>
	<DIV id=footer_container>
	<DIV id=dizzy_man><IMG src="/g/f/dizzyman.gif" alt="Dizzy man" /></DIV>
	<DIV id=spirograph><IMG src="/g/f/spiro.gif" alt="*" /></DIV></DIV>
	<DIV id=small_diz_logo><IMG 
src="/g/f/smalllogo.gif" alt="Dizzy" /></DIV>
</DIV>
</BODY>
</HTML>
</patTemplate:tmpl>