	<patTemplate:tmpl name="portfolio_item">
		<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3c.org/TR/1999/REC-html401-19991224/loose.dtd">

<html><head><title>Logo and Stationaery Design Portfolio: Dizzy</title>
<link href="/stylesheets/stylesheet1.css" type="text/css" rel="stylesheet">
<style type="text/css">

#icons {
	padding-top:53px;
	}
#cart { 
	padding-top:4px;
}
#cart_menu { 
	float:right; 
}
#content_container { 
	margin: 0 auto; width:98%;
	padding: 20px 0 20px;
}
#column1 { 
	position-left: 2%;
	width:18%;
	float:left;
}
#logos {
width:80%;
}
table { 
width:100%;
text-align:center;
vertical-align:middle;
border-collapse:collapse;
}	
	td {
	border: 1px dotted #888;
}
.header {
	height:24px;
	text-align:left;
	padding-left:7px;
}

#welcome {
	width: 350px; 
	height:69px;
	margin: 0 auto;
}
#icon {
	float: left; 	
}
#headline_text {
	padding-top:20px;
}

</style>
</head>

<body>
<div id="top_container">
	<div id="logo"><img src="http://www.dizzy.co.uk/g/e/slogan.png" width="180" height="36" alt="Making business beautiful."/><img src="http://www.dizzy.co.uk/g/e/logo.png" width="85" height="84" alt="logo"/></div>
	<div id="package">	
			<div id="button1" class="button"><img name="button1" src="/g/f/home.png" />  <br/>
			<a href="/">Home</a></div>
			<div id="button2" class="button"><img src="/g/f/login.png" /><br/>
			<a href="/">Login</a></div>
			<div id="button3" class="button"><img src="/g/f/cart.png" /><br/>
			<a href="/">View Cart</a></div>		
			<div id="button4" class="button"><img src="/g/f/life.png" /><br/>
			<a href="/">Help</a></div>
</div>
</div>
<div id="header_container">
	
	<div id="welcome">
		<div id="icon"><IMG alt="House" src="/g/f/suitcase.gif" /></div>
		<div id="headline_text"><img alt="Welcome to Dizzy New Media" 
src="/g/f/finance.gif" /> </div>
	</div>
</div>

	<img src="/g/f/you-are-here.gif" alt="You are here:" />
<a class="category" href="/">
Home</a> > <a class="category" HREF="/">
Business</A> > <b class="header">Business identity</b>



<div id="content_container">
	<div id="column1">
		<img src="/g/p/{ID}_header.png">
		<h3>{NAME}</h3>
		
			
		<p class="grey">{DESCRIPTION}</p>
		<p>
		<a href="portfolio.php?purpose=view_single&id={PREV}">&lt;&lt;previous</a>
	<a href="portfolio.php?purpose=view_single&id={NEXT}">next&gt;&gt;</a></p>
	</div>
<div id="logos">	
	<table>
		
	<tr>
		<td class="header"><h3 class="nopadding">Logo</h3></td>
		<td class="header"><h3 class="nopadding">Business card</h3></td>
		<td class="header"><h3 class="nopadding">Letterhead</h3></td>
	</tr>
	<tr>
		<td><img src="/g/p/{ID}_blogo.png"></td>
		<td><img src="/g/p/{ID}_card.png"></td>
		<td><img src="/g/p/{ID}_letter.png"></td>
		</tr>
<patTemplate:tmpl name="row" type="OddEven">
   <patTemplate:sub condition="odd"> 

    <tr>   
    <patTemplate:tmpl name="cells">
        <td class="header" colspan="{COLSPAN}"><h3 class="nopadding">{VALUE}</h3></td>
    </patTemplate:tmpl>
        </tr>
    </patTemplate:sub>
    		   <patTemplate:sub condition="even"> 

    <tr>
    	    <patTemplate:tmpl name="cells2">
        <td colspan="{COLSPAN}"><img src="/g/p/{VALUE}"></td>
    </patTemplate:tmpl>
        </tr>
    		</patTemplate:sub>


</patTemplate:tmpl>
</table>
</div>
</div>
</patTemplate:tmpl>