/* Index
======================*/
#cheatsheet_image {
	float:right;
	text-align:center;	
}

/* Page 
======================*/
#cheatsheet h2 {
	border-bottom: 1px dashed black;
	font-weight:bold;
	color:black;
	margin-top:1em;
	text-align:center;
}
#method.blue {
	background-color:#F0F4FC;
}
#cheatsheet h3 {
	margin-top: 1em;
  color: #29A4BD;
  font-weight: bold;
}
#cheatsheet_title {
	float:left;
}
#content {
	clear:both;
}