#comments .odd, #conversation .odd {
	border: 1px dotted #888;
	padding:5px;
	margin:8px 0 8px 0;
	background-color:white;
	background-image:url("/images/f/backgrounds/spiral2.png");
}
#comments .normal, #conversation .normal {
	background-color:white;
	border: 1px dotted #888;
	padding:5px;
	margin:8px 0 8px 0;
}