/* Errors
==================================== */
	#errorExplanation h3 { color: #29A4BD; }
	#error_container { text-align:center; }
	
	#error_left {
		float:left;
		width:33%;		
		text-align:right;	
	}
	.fieldWithErrors {
		padding:	2px;
		border:		2px solid #29A4BD;
	}
	#errorExplanation ul li {
		font-size:1.1em;
		color: #29A4BD; 
		font-weight:bold;
	}
/* Contact
==================================== */
	#contact_form {
		 border-bottom:1px dashed #999;
		 padding-bottom: 1em;
	}
	.hover { background-color: #D1ECF9; }
	
	input {
	  border-color:#999;
	  border-style:solid;
	  border-width:2px 1px 1px 2px;
	  color:#434343;
	  font-size:1.4em;
	  padding:0.2em;
	  margin:0;
	}
		input:focus { background-color: #D1ECF9; }
		input.checkbox {
			width: 2em;
			padding:0;
		}
		input.radio {
			width: 2em;
			border:0;
		}
		input.submit {
			width: 136px;
			height:34px;
			margin: 0 auto;
			background:url(/images/f/buttons/submit2.png) no-repeat;
			outline: none;
			padding:0;
			border:0;
		}
		input.submit:hover {
			background: url(/images/f/buttons/submit2.png) no-repeat 0 -34px;
			padding:0;
			border:0;
		}
	textarea {
	 border-color:#999;
	  border-style:solid;
	  border-width:2px 1px 1px 2px;
	  width:95%;
	}
	select {
	 border-color:#999;
	  border-style:solid;
	  border-width:2px 1px 1px 2px;  
	}
	label {
	  font-family:"Georgia";
	  font-weight: bold;
	  display:block;
	  margin-top: 1em;
	}
