/* Header
==================================== */
#top_container {
	width:901px;
	height:105px;
	background-image:url("/images/f/backgrounds/back.png");
	background-repeat:no-repeat;
	background-position: top right;
}
#slogan {
	padding-top:53px;
	float:left;
}
#logo { 
	padding-top:7px;
	 text-align:center;
	 width:150px;
	 height:90px;
	 margin: 0 auto;
	 float:left;
}
#right_of_logo {
	text-align:center;
	width:600px;
	height:105px;
	float:right;
}

/* Footer
==================================== */
#footer a:hover, #latest_logo a:hover {
	background-color:transparent;
}
.footer_logos {
	background-image:url(/images/f/backgrounds/back.png);
	background-position:right top;
	background-repeat:no-repeat;
	border-top: 1px solid #e1e1e1;
	height:100px;
	text-align:center;
	width:100%;
}
