/* Lists
==================================== */
ul { 
  padding-left: 4em;
  list-style-image:url(/images/f/bullets/pixels/diamond.png);
  line-height: 1.6em;
  margin-bottom:1em;
}

li.alt {
	background-image:url("/images/f/backgrounds/spiral2.png");
	background-repeat:no-repeat;
	background-position: top right;
}

/* Comments List
==================================== */
.commentlist {
	border-bottom: 1px dashed #434343;
}
.commentlist li {
	font-size: 1.1em;
	line-height: 1.4em;
	padding: 0;
	margin-bottom: 2em;  
	border:0;
}

/* Directory structure lists
==================================== */
ul.directory  {
	list-style-image:url(/images/f/small_icons/folder.png);
	font-size:1.1em;
}
ul.directory ul, ul.directory ul ul, ul.directory ul ul ul  {
	font-size:1em; }

/* Categories list
==================================== */
ul.categories, #admin_links ul {
	font-weight:bold;
	line-height: 2em;
	font-size:1.1em;
}
