/* YAHOO RESET =========================================== */
	html {color:#000;background:#FFF;}
	body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
	fieldset,img {border:0;}
	address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
	li{list-style:none;}
	caption,th{text-align:left;}
	h1,h2,h3,h4,h5,h6{font: normal 100%/1.25 Georgia, serif; letter-spacing:-0.05em; margin: 0.3em 0 0.3em; }
	q:before,q:after{content:'';}
	abbr,acronym{border:0;font-variant:normal;}
	sup{vertical-align:text-top;}
	sub{vertical-align:text-bottom;}
	input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}
	input,textarea,select{*font-size:100%;}legend{color:#000;}del,ins{text-decoration:none;}

/* YAHOO FONTS =========================================== */
	body { font:13px/1.231 verdana,arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;color:#434343; }
	select, input, button, textarea { font:99% arial,helvetica,clean,sans-serif; }
	table { font-size:inherit;font:100%; }
	pre, code, kbd, samp, tt { font-family:monospace;*font-size:108%;line-height:100%;}

/* =CSS TYPOGRAPHY =====================================================*/
	i { font-style:italic; }
	p { margin: 0.4em 0 0.4em;}
	
	h1 { font-size:325%; }
	h2 { font-size:153.9%; font-style:italic; }
	h3 { font-size:167%; }
	h4 { font-size:123.1; }
	h5 { font-size:100%; }
	h6 { font-size:77% }
	
	ul { margin-left: 3em; line-height:150%;}
	
	dt { font-weight:bold; }
	dd { margin-left:4em;}
	
	a:link { color: #29A4BD; }	
	a:visited { color:#006A8C; }
	
	.posted_in a { font: 75% "Arial Black"; letter-spacing:0.2em; color: #29A4BD; text-decoration: none; }
	.posted_ago { font: normal 75% "Verdana"; color: #878787; letter-spacing:0.2em; }
	.amp { font: italic normal 120% "Georgia"; color:#434343; }	

/* TABLES =================================== */
	table {border-collapse:collapse;border-spacing:0;width:100%;}	

/* PAGE FURNITURE ==================================== */
	.spiro { background: url("/images/f/branding/spirosmall.png") center no-repeat; margin:	0 auto; width: 29px; height:29px;}	

/* =CSS WELCOME =====================================================*/
	#welcome { clear:both; }
	#first_half { width:730px; }
		#welcome_left {	float:left;	width:394px; padding-right:10px; border-right:1px dotted #CCCCCC; }
		#welcome_right { width:310px; float:right; }
	#second_half { width:220px; border-left:1px dotted #CCCCCC; padding-left:10px; float:right; }	

	#welcome a { text-decoration:none; color: #434343}
		#welcome a:hover { text-decoration:underline; }
		#welcome .posted_in a,	#welcome #category_list a { color: #29A4BD; }
	#welcome h2 { font: normal 2.2em "Georgia", serif;}		
	#welcome h3 { font: normal 1.6em/1.125em "Georgia", serif;  }
	#welcome p { padding-bottom:1em; border-bottom:1px dotted #CCCCCC; }

	#latest_logo { width:100%; text-align:center; padding-top:10px; padding-bottom:5px; }
	#latest_logo a:hover { background-color:transparent;  }
	
	#logo_pagination { width:100%; text-align:center; }
	#logo_pagination a { text-decoration:underline; }
	
/* =CSS CONTENT ======================*/
	#article h2 { font: bold italic 1.5em/1em "Georgia"; color:black; text-align:center; border-bottom:1px dashed black; }	
	#article h3 { font: bold italic 1.3em "Trebuchet MS"; color:black; }
	#article h4 { font: bold 1em "Trebuchet MS"; color:black; }
	
	#article td { border:1px dotted #878787; }
	
	#cheatsheet_image {	float:right; text-align:center;	}
	.thumbnail { float:left; text-align:center;	width:200px; }

	#blurb { border: 1px dashed #878787; padding:0 7px 0px 7px; }
	#blurb h2 { font: italic 1.5em "Georgia"; }	
	#blurb h4 {	font: normal 0.76em/1.8em "Verdana"; color: #29A4BD; margin: 0.6em 0 0.8em; letter-spacing:0.2em; }	
	#blurb p { font: italic 1.2em "Trebuchet MS"; }

/* =CATEGORY PAGES ========================= */
	#article_links h2 { line-height:1.3; }
	#article_links h3 { font: bold italic 131% Georgia; }
	
	#article_links tr td:first-child {	width: 50%;	}
	#article_links td { padding:0.5em; border: 1px dotted #999; }
	#article_links .article_link_description { font: italic 108% Georgia ;}
	
	#article_links .pdf_thumbnail { float:left; }
	
	#category_list li { background:url('/images/f/bullets/pixels/diamond.png') no-repeat 0 1em; padding-left:1em; }
	#category_list li a { text-decoration:underline;}

/* =CSS COMMENTS ==================================== */
	#comments .odd, 
	#conversation .odd { clear:both; border: 1px dotted #888; padding:5px; margin:8px 0 8px; background: white url("/images/f/backgrounds/spiral2.png"); }
	#comments .normal, 
	#conversation .normal { clear:both;	background-color:white;	border: 1px dotted #888; padding:5px; margin:8px 0 8px; }
	.reply_comment { width:100%; text-align:center; clear:both; }
	.comments_left { width:25%;	float:left; }
	.comments_right { float:right; width:74%; }
	#comments .email { font-weight:bold; font-size:0.8em; }
	#comments h6 { font: normal 1.6em/1.125em "Georgia"; color:#29A4BD; letter-spacing:-0.035em; margin-bottom:0 0.6em; }

/* =CSS HEADER ==================================== */
	#top_container 	{ background: url("/images/f/backgrounds/back.png") no-repeat top right; width:100%; height:105px; }
	#slogan 		{ padding-top:53px;	float:left; }
	#logo			{ padding-top:7px; text-align:center; width:150px; height:90px; margin: 0 auto; float:left; }
		#right_of_logo { text-align:center; width:600px; height:105px; float:right; }
	
/* =CSS NAVIGATION ======================*/
	#navigation { height: 45px;	border-bottom: 1px dotted #B2B1B1; margin-bottom: 3px; }
	.nav_button { width: 20%; margin: 0.2em 0 0.4em 0; float: left; }

	#page_container { width: 975px; margin:	0 auto; }
	#left_column {	width: 700px; float: left; }
	#right_column {	width: 200px; float: right;	}
	
	#category_list { line-height:250%; }
	
/* =CSS FOOTER ==================================== */
	#footer { clear:both ;}
	#footer a:hover { background-color:transparent; }
	.footer_logos {	background: white url('/images/f/backgrounds/back.png') no-repeat right top; border-top: 1px dotted #CCCCCC; height:100px; text-align:center; width:100%; }
	
/* =CSS FORMS ==================================== */
		input.submit { width: 136px; height:34px; margin: 0 auto; background:url('/images/f/buttons/submit2.png') no-repeat; outline: none; padding:0; border:0; }
		input.submit:hover { background: url('/images/f/buttons/submit2.png') no-repeat 0 -34px; padding:0; border:0; }
	label {font: bold 100% Georgia; display:block; margin-top: 1em; }	

/* ERRORS==================================== */
	#errorExplanation h3 { color: #29A4BD; }
	#error_container { text-align:center; }
	
	#error_left { float:left; width:33%; text-align:right; }
	.fieldWithErrors { padding:	2px; border: 2px solid #29A4BD; }
	#errorExplanation ul li { font-size:1.1em; color: #29A4BD; font-weight:bold; }
	
	.hover { background-color: #D1ECF9; }
	
/* =CSS FRONTEND PORTFOLIO ==================================== */
	#column1 { float:left; width: 25%; }
	#logos { float:right; width: 75% }
	
	table.portfolio_table {	border: 1px dashed #888; }
	table.portfolio_table td { vertical-align: middle; text-align:center; border: 1px dotted #888; }