body {  
	font-family: "Trebuchet MS","Tahoma","Helvetica","Arial",sans-serif;
	color: #434343;
	background-color: #fff;
	font-size: 62.5%;
}

#page_container { 
	width:850px;
	margin: 0 auto;
}
* {
 	margin: 0;
 	padding: 0;
	font-weight: normal;
	font-style: normal;
	border: none;
} 

/* Global reusable classes
==================================== */
.left {
	float:left;
}
.right {
	float:right;
}
.block {
	display:block;
}
.clearfix {
	clear:both;
}

#right_column {
	width: 620px;
	border:0;
	margin:0;
	padding:0;
}

#left_column {
	width:175px;
	border:0;
	padding:0;
	margin:0;
}
/* Furniture
======================*/
.spiro {
	display:block;
	width:40px;
	margin:0 auto;
	margin-bottom: 1em;
}

img {
	vertical-align:middle;
}

/* Hierarchy 
========================*/
#hierarchy {
	margin-top: 1em;
	margin-bottom:0;
}
