
/* Frontend Portfolio
==================================== */
#column1 {
	float:left; 
	width: 20%;
}
#logos {
	float:right;
	width: 80%
}
table.portfolio_table {
	border: 1px dotted #888;
	border-collapse:collapse;	
}
td.standard {
	border: 1px dotted #888;
	vertical-align: middle;
	text-align:center;
	}
