/* Frontend Portfolio
==================================== */
	#column1 {
		float:left; 
		width: 25%;
	}
	#logos {
		float:right;
		width: 75%
	}
	table.portfolio_table {	border: 1px dashed #888; }
	table.portfolio_table td {
		vertical-align: middle;
		text-align:center;
		border: 1px dotted #888;
	}
	#company_description h2 { margin-top:1em; }
		
	#company_description h3 {
		font-weight:normal;
		margin-top:1.2em;
		margin-bottom:1.2em;
	}	