code { font: bold 100% "Courier New","Courier", monospace; color:black; }
code.ruby {
	display:block;
	font-weight: normal;
	color:grey;
	border: 1px dashed #434343;
	padding: 2%;
	margin: 0.4em 0 0.4em;
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
}
/*
:attribute_name => 'an',		:attribute_name_fat => 'af',
:attribute_value => 'av',		:attribute_value_fat => 'aw',
:bin => 'bi',					:char => 'ch',
:class => 'cl',					:class_variable => 'cv',
:color => 'cr',					:comment => 'c',
:constant => 'co',				:content => 'k',
:definition => 'df',			:delimiter => 'dl',
:directive => 'di',				:doc => 'do',
:doc_string => 'ds',			:entity => 'en',
:error => 'er',					:escape => 'e',
:exception => 'ex',				:float => 'fl',
:function => 'fu',				:global_variable => 'gv',
:hex => 'hx',					:include => 'ic',
:inline => 'il',				:inline_delimiter => 'idl',
:instance_variable => 'iv',		:integer => 'i',
:interpreted => 'in',			:label => 'la',
:local_variable => 'lv',		:modifier => 'mod',
:oct => 'oc',					:operator_name => 'on',
:pre_constant => 'pc',			:pre_type => 'pt',
:predefined => 'pd',			:preprocessor => 'pp',
:regexp => 'rx',				:reserved => 'r',
:shell => 'sh',					:string => 's',
:symbol => 'sy',				:tag => 'ta',
:tag_fat => 'tf',				:tag_special => 'ts',
:type => 'ty',					:variable => 'v',
:xml_text => 'xt',				:ident => :NO_HIGHLIGHT,  # 'id'
:operator => 'op',				:operator => :NO_HIGHLIGHT,  # 'op'
:space => # 'sp'				:plain => :NO_HIGHLIGHT */

.ruby .af { color:#00C }
.ruby .an { color:#000 }
.ruby .av { color:#700 }
.ruby .aw { color:#C00 }
.ruby .bi { color:#509; font-weight:bold }
.ruby .c  { color:#888 }

.ruby .ch { color:#04D }
.ruby .ch .k { color:#04D }
.ruby .ch .dl { color:#000 }

.ruby .cl { color:#29A4BD; font-weight:bold }
.ruby .co { color:grey; font-weight:bold }
.ruby .cr { color:#0A0 }
.ruby .cv { color:#369 }
.ruby .df { color:#099; font-weight:bold }
.ruby .di { color:#088; font-weight:bold }
.ruby .dl { color:#000 }
.ruby .do { color:#970 }
.ruby .ds { color:#D42; font-weight:bold }
.ruby .e  { color:#666; font-weight:bold }
.ruby .en { color:#006A8C; font-weight:bold }
.ruby .er { color:#F00; background-color:#FAA }
.ruby .ex { color:#F00; font-weight:bold }
.ruby .fl { color:#60E; font-weight:bold }
.ruby .fu { color:#29A4BD; font-weight:bold }
.ruby .gv { color:#d70; font-weight:bold }
.ruby .hx { color:#058; font-weight:bold }
.ruby .i  { color:grey; font-weight:bold }
.ruby .ic { color:#B44; font-weight:bold }

.ruby .il { background: none; color: black; }
.ruby .il .il { background: #ddd }
.ruby .il .il .il { background: #ccc }
.ruby .il .idl { font-weight: bold; color: #888 }

.ruby .in { color:#B2B; font-weight:bold }
.ruby .iv { color:grey; }
.ruby .la { color:#970; font-weight:bold }
.ruby .lv { color:#963 }
.ruby .oc { color:#40E; font-weight:bold }
.ruby .on { color:#000; font-weight:bold }
.ruby .op { }
.ruby .pc { color:black; font-weight:bold }
.ruby .pd { color:#369; font-weight:bold }
.ruby .pp { color:#579 }
.ruby .pt { color:#339; font-weight:bold }
.ruby .r  { color:#006A8C; font-weight:bold }

.ruby .rx { background-color:#fff0ff }
.ruby .rx .k { color:#808 }
.ruby .rx .dl { color:#000 }
.ruby .rx .mod { color:#C2C }
.ruby .rx .fu  { color:#404; font-weight: bold }

.ruby .s  { background-color:#F5F5F5; }
.ruby .s  .s { background-color:#ffe0e0 }
.ruby .s  .s  .s { background-color:#ffd0d0 }
.ruby .s  .k { color:#29A4BD }
.ruby .s  .dl { color:#000 }

.ruby .sh { background-color:#f0fff0 }
.ruby .sh .k { color:#2B2 }
.ruby .sh .dl { color:#000 }

.ruby .sy { color:#006A8C; font-style:italic }
.ruby .sy .k { color:#29A4BD }
.ruby .sy .dl { color:#000 }

.ruby .ta { color:grey; font-weight:bold; }
.ruby .tf { color:#070; font-weight:bold }
.ruby .ts { color:#D70; font-weight:bold }
.ruby .ty { color:#339; font-weight:bold }
.ruby .v  { color:#036 }
.ruby .xt { color:#444 }
