/* Tables
==================================== */
	th 		{ font-weight:bold; }
	table { width:100%; }
	tr.odd { background-color:#F0F4FC;}

/* Sample Code Table
==================================== */
table.sample_code  {
	width:620px;
	border:1px dotted #888;
	border-collapse:collapse;
	table-layout: fixed;
}
table.sample_code td.first {
	width:75px;
}
table.sample_code tr td.first {
   background-color:#888;
   color:white;
   text-align:center;
}
table.sample_code tr.odd td.first {
	background-color:#29A4BD;
	color:white;
	text-align:center;
}
table.sample_code tr.odd {
	background-color:transparent;
}
		
/* Portfolio
========================= */
table.portfolio_table {
	border-collapse:collapse;	
	border: 1px dashed #888;
}
table.portfolio_table td {
	vertical-align: middle;
	text-align:center;border: 1px dotted #888;
}
	
/* Article links 
========================= */
table.articles {
	border-collapse: collapse;
}
table.articles td {
	padding:0.5em;
	border: 1px dotted #999;
}
table.articles td.content {
	width: 50%;
}
tr.even {
	background-image:url("/images/f/backgrounds/spiral2.png");
	background-repeat:repeat;
	background-position:top right;
}