/* Tables
==================================== */
	table 	{ 
		width:100%; 
		border-collapse: collapse;
	}
		th 		{ font-weight:bold; }
		tr.odd 	{ background-color:#F0F4FC;}

/* Sample Code Table
==================================== */
	table.sample_code  {
		width:690px;
		table-layout: fixed;
	}
		table.sample_code td {
			padding:0.25em;
		}
		table.sample_code td.first {
			width:75px;
		}
		table.sample_code tr td.first {
		   background-color:#888;		 
		   text-align:center;
		   color:white;
		}
		table.sample_code tr.odd td.first {
			background-color:#29A4BD;
			color:white;			
			text-align:center;
		}
		table.sample_code tr.odd {
			background-color:transparent;
		}	
	
/* Cheatsheet Table
========================= */
	#cheatsheet td {
		border:1px dashed black;
	}
	#cheatsheet tr {
	}
	#cheatsheet table {
		margin-bottom:1.5em;
	}
		
/* Portfolio
========================= */
	table.portfolio_table {
		border: 1px dashed #888;
	}
	table.portfolio_table td {
		vertical-align: middle;
		text-align:center;
		border: 1px dotted #888;
	}
	
/* Article links 
========================= */
	table.articles td {
		padding:0.5em;
		border: 1px dotted #999;
	}
	table.articles td.content {
		width: 50%;
	}
	tr.even {
		background-image:url("/images/f/backgrounds/spiral2.png");
		background-repeat:repeat;
		background-position:top right;
	}