/* Headings
==================================== */
b, em, strong {	font-weight:bold; }

h1 {
	font-family:"Georgia";
	font-weight: normal;
	color: #29A4BD; 
	font-size: 2.1667em; /* 26px */ 
	line-height: 1.3846em; /* 36px */ 
	margin-top: 0.6923em; 
	margin-bottom: 0.6923em;
}

h2 {
	font-family:"Georgia";
	font-size: 1.3333em; /* 16px */ 
	line-height: 1.125em; /* 18px */ 
	margin-top:1.125; 
	margin-bottom: 1.125em;

}
	#cheatsheet h2 {
		font-weight:bold;
		color:#000000;
		font-size: 1.5em; 
		text-align:center;
		line-height: 1em; 
		margin-top: 0.5em; 
		margin-bottom: 0.5em;
		border-bottom:1px dashed #000000;
	}
	#company_description h2 { margin-top:1em; }
	.articles h2 { line-height:1.3; }

h3 {
	font-size: 1.25em; /* 15px */ 
	line-height: 1.2em; /* 18px */ 
	margin-top: 0.6em; 
	margin-bottom: 0.6em;	
	font-weight:bold;
	font-family: "Georgia";
	font-style:italic;
}
	#cheatsheet h3 { font-family:"Trebuchet MS"; }
	
	#company_description h3 {
		font-weight:normal;
		margin-top:1.2em;
		margin-bottom:1.2em;
	}
h4 {
	color: #BBBDBF;
	font-weight:normal; 
	font-size: 0.76em; /* 10px */
	line-height: 1.8em; /* 18px */
	margin-top: 0.6em; margin-bottom: 0.6em;
	letter-spacing:0.2em;
}	
/*h5 {
	font-family:"arial black",helvetica,sans-serif;
	font-size: 0.75em; 
	line-height: 1.8em;
	margin-top: 0.6em;
	margin-bottom: 0em;
	color: #29A4BD;
	letter-spacing:0.2em;
}*/

h5 {
	font-size: 1.15em; /* 15px */ 
	line-height: 1.2em; /* 18px */ 
	margin-top: 0.6em; 
	margin-bottom: 0.6em;	
	font-weight:bold;
	font-family: "Georgia";
	font-style:italic;
	color: #29A4BD;
}

h6 {
	font-family:"Verdana",serif;
	margin-right:0.5em;
	font-weight:bold;
	color: #BBBDBF;
	font-size: 0.9em; /* 10px */
	line-height: 1.2em; /* 18px */
	margin-top: 0.7em;
	margin-bottom: 0em;	
}

	#comments h6 {
		font-family:"Georgia";
		font-weight:normal;
		font-size: 1.3333em; /* 16px */ 
		line-height: 1.125em; /* 18px */ 
		margin-top:0em; 
		margin-bottom: 0.6em;
		color: #29A4BD;	
	}
/* Paragraphs
==================================== */
p {
    font-family:"Verdana";
	font-size: 1em; /* 12px */ 
	line-height: 1.5em; /* 18px */ 
	margin: 0 0 1.5em 0;
}
	#poll p {
		margin-top:0.7em;
		margin-bottom:0.7em;
		font-size:0.8em;
		font-weight:bold;
		color: #29A4BD;	
	}

/* Classes
==================================== */
.bigger {
	font-size: 1.25em; /* 15px */ 
	line-height: 1.2em; /* 18px */ 
	margin-top: 0.6em; 
	margin-bottom: 0.6em;	
	font-family: "Verdana";
	font-style:italic;
	background-color:#f0fff0;
}
.black {
	color:black;
}
.blue_bold {
	color: #29A4BD;
	font-weight: bold;
}

.date { 
	color: #BBBDBF;
	font-weight:normal; 
	font-size: 0.8333em; /* 10px */
	line-height: 1.8em; /* 18px */
	margin-top: 1.8em; margin-bottom: 0em;
	letter-spacing:0.2em;
}

/* Links
==================================== */
a:link { color: #29A4BD; }

a:visited { color:#006A8C; }

a:hover {
	
}
#navigation p {
	color: #BBBDBF;
	font-size: 0.8333em; /* 10px */
	margin-top:0.7em;
	margin-bottom:0.7em;
}

#navigation a:hover {
	color:#006A8C;
}