/* Welcome
============= */
#welcome_left {
	float:left;
	width:575px;	
}
#welcome_middle {
	float:left;
	width:180px;
	border-left: 1px dotted #B2B1B1;
	border-right: 1px dotted #B2B1B1;
	padding-left:10px;
}
#latest_container {
	width:100%;
	padding-left: 0.4em;
	border-bottom: 1px dotted #B2B1B1;
}
#welcome_right {
	width:200px;
	float:left;
}
#recent {
	width:100%;
	border-top: 1px dotted #B2B1B1;
}
#logo_pagination {
	width:100%;
	text-align:center;
}
#latest_logo {
	width:100%;
	vertical-align:middle;
	text-align:center;
	height:120px;
}
#logo_container {
	height:120px;	
}

.inside {
	padding-left:7px;
	padding-right:4px;
}
#welcome_left a:visited, #welcome_right a:visited {
	color: #29A4BD; 
}
#welcome_left a:hover, #welcome_right a:hover {
	color: white;
}

/* Typography
--------------------- */

#welcome h2 {
	font-family:"Trebuchet MS";	
	color:black;	
	font-style:italic;
}
#welcome h3, #poll h3 {
	font-family: "Georgia",serif;
	font-weight: normal;
	font-style:normal;
	font-size: 1.3em; /* 15px */ 
	line-height: 1.3em; /* 18px */ 
	margin-top: 0.6em; 
	margin-bottom: 0.6em;	
}