/* Welcome
============= */
#welcome_header {
	padding-top:1em;
}
#welcome {
	clear:both;
}
#welcome_left {
	float:left;
	width:202px;	
}
#welcome_middle {
	float:left;
	width:552px;
	
	padding-left:10px;
}
#latest_container {
	width:100%;
	padding-left: 0.4em;
}
#welcome_right {
	width:200px;
	float:left;
}
#welcome_title {
	width:40%;
	float:left;
	padding-bottom:2em;
	text-align:center;
}
#welcome_quote {
	width:60%;
	text-align:center;
	float:left;
}
#recent {
	width:100%;
}
#logo_pagination {
	width:100%;
	text-align:center;
}
#latest_logo {
	width:100%;
	vertical-align:middle;
	text-align:center;
	height:120px;
}
#logo_container {
	height:120px;	
}

.inside {
	padding-left:7px;
	padding-right:4px;
}
#welcome_left a:visited, #welcome_right a:visited {
	color: #29A4BD; 
}
#welcome_left a:hover, #welcome_right a:hover {
	color: white;
}