# General Apache options
AddHandler fastcgi-script .fcgi
AddHandler cgi-script .cgi
Options +FollowSymLinks +ExecCGI

RewriteEngine on

Redirect 301 /articles/rails-migrations http:/dizzy.co.uk/ruby_on_rails/categories/migrations/contents/rails-migrations
Redirect 301 /cheatsheets/rails-migrations.pdf http:/dizzy.co.uk/ruby_on_rails/categories/migrations/contents/rails-migrations.pdf
Redirect 301 /articles/beginning-file-uploads http:/dizzy.co.uk/ruby_on_rails/categories/file-handling/contents/beginning-file-uploads

# Display maintenance page if it exists
RewriteCond %{REQUEST_URI} ^/images(.*)$ [OR]
RewriteCond %{REQUEST_URI} ^/stylesheets/(.*)$ [OR]
RewriteCond %{REQUEST_URI} ^/g/(.*)$
RewriteRule .* - [L]
 
RewriteCond %{DOCUMENT_ROOT}/system/maintenance.html -f
RewriteCond %{SCRIPT_FILENAME} !maintenance.html
RewriteRule ^.*$ /system/maintenance.html [L]

RewriteRule ^$ index.html [QSA]
RewriteRule ^([^.]+)$ $1.html [QSA]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ dispatch.cgi [QSA,L]

# In case Rails experiences terminal errors
# Instead of displaying this message you can supply a file here which will be rendered instead
# 
# Example:
#   ErrorDocument 500 /500.html

ErrorDocument 500 "<h2>Application error</h2>Rails application failed to start properly"
