<h1>Editing section</h1>

<% form_for :section, @section, :url => cheatsheet_section_path, :html => { :method => :put } do |form| %>
  <%= render :partial => 'form', :object => form %>
  <%= submit_button %>
<% end %>
