<div id="section_index">
	<ul>		
	<% @section.content.sections.each do |section| %>
		<% if section.permalink == @section.permalink %>
			<li><b>&gt;&gt;<%= section.title %>&lt;&lt;</b> - <%= section.summary %></li>
		<% else %>
			<li><a href="<%= section.permalink %>"><%= section.title %></a> - <%= section.summary %></li>
		<% end %>
	<% end %>
	</ul>
</div>
<%= parse_cheatsheet_xml(@section.body) %>