<tr class="<%= cycle('odd', 'even') %>" >
	<td class="content"><h3 class="blue_bold"><%= asterisk %> <%= cheatsheet_link.title %></h3>
		
<div class="left"><br/><br/><br/><br/><br/>
			<%= image_tag("f/small_icons/pdf.png") %>
			
			<%= diamond %> <%= link_to "PDF",{ :controller => "binaries", :action=> "get_cheatsheet_pdf", :permalink => cheatsheet_link.permalink, :extension => "pdf"} %> 
		</div>
		
		<div class="right"><br/><br/><br/><br/><br/>
			<%= image_tag("f/small_icons/html.png") %>
			<%= diamond %> <%= link_to "HTML",{ :controller => "cheatsheets", :action=> :show, :permalink => cheatsheet_link.permalink} %> 
		</div>
		<p class="center"><%= image_tag("/cheatsheets/thumbnails/#{cheatsheet_link.permalink}.png") %>
		</td>
	<td><span class="date"><%= cheatsheet_link.date.to_s(:long) %></span><p>
		<% cheatsheet_link.categories.each do |category| %>
		<span class="blue_bold">Posted in</span> <%= diamond %> <%= link_to category.name, { :controller => "content", :action => "articles_for_category", :permalink => category.permalink } %>
		<% end %></p>
		
		<p><%= cheatsheet_link.description %> </p>
	
		</td>
	<td>by<br/><b><%= cheatsheet_link.author.username%></b></td>
</tr>