<p><label for="cheatsheet_title"><%= diamond %> Title</label>
<%= form.text_field :title %></p>

<p><label for="cheatsheet_link"><%= diamond %> Link</label>
<%= form.text_field :permalink %></p>

<% fields_for :pdf do |pdf_fields| %>
    <p><label for="pdf"><%= diamond %> PDF</label>
	<%= pdf_fields.file_field :uploaded_data %></p>
<% end %>
    
<% fields_for :thumbnail do |thumbnail_fields| %>
	<p><label for="thumbnail"><%= diamond %> Thumbnail</label>
	<%= thumbnail_fields.file_field :uploaded_data %></p>
<% end %>

<p><label for="article_content"><%= diamond %> Description</label>
<%= form.text_area :description, :size => "100x4" %></p>

<p><label for="article_date"><%= diamond %> Date</label>
<%= form.datetime_select :date %></p>

<div id="select_main_category">
	<p><label for="cheatsheet_maincategory"><%= diamond %> Main category </label>
	<%= form.collection_select(:main_category, Category.find(:all, :order => :name), :id, :name, {}, { :name => 'cheatsheet[main_category]'} ) %></p>
</div>

<div id="select_subcategory">	
	<p><label for="cheatsheet_subcategories"><%= diamond %> Subcategories</label>
	<%= form.collection_select(:subcategories, Category.find(:all, :order => :name), :id, :name, {}, {:multiple=> :true}) %></p>
</div>
