<p><label for="cheatsheet_title"><%= diamond %> Title</label>
<%= form.text_field :title %></p>

<p><label for="cheatsheet_link"><%= diamond %> Permalink</label>
<%= form.text_field :permalink %></p>

<% fields_for :pdf do |pdf_fields| %>
    <p><label for="pdf"><%= diamond %> PDF</label>
	<%= pdf_fields.file_field :uploaded_data %></p>
<% end %>
    
<% fields_for :thumbnail do |thumbnail_fields| %>
	<p><label for="thumbnail"><%= diamond %> Thumbnail</label>
	<%= thumbnail_fields.file_field :uploaded_data %></p>
<% end %>

<p><label for="article_content"><%= diamond %> Description</label>
<%= form.text_area :description, :size => "100x4" %></p>

<p><label for="article_date"><%= diamond %> Date</label>
<%= form.datetime_select :date %></p>

<p><label for="article_version_number"><%= diamond %> Version</label>
<%= form.collection_select(:version_id, Version.find(:all, :order => :version_number), :id, :version_number) %> <i>or add new version</i>
<%= form.text_field :new_version %></p>


<div id="select_subcategory">	
	<p><label for="cheatsheet_subcategories"><%= diamond %> Subcategories</label>
	<%= form.collection_select(:category_ids, Category.find(:all, :order => :name), :id, :name, {}, {:multiple=> :true}) %></p>
</div>
