<%= javascript_include_tag :defaults %>

<h1>Editing <%= @cheatsheet.title %></h1>

<% form_for @cheatsheet, :html => { :multipart => true } do |form| %>

	<%= render :partial => form %>
  
<% end %>
 
