<%= javascript_include_tag :defaults %>
<h1><%= bigarrow %> Editing <%= @cheatsheet.title %> cheatsheet</h1>

	<!-- MAIN EDIT FORM -->

<% form_for :cheatsheet, :url => cheatsheet_path, :html => { :multipart => true, :method => :put } do |form| %>
	<%= render :partial => "form", :object => form %>
  	<%= submit_button %>
<% end %>
  