 <div id="cheatsheet">
 	<% @title = @cheatsheet.title %>
 	
 <h1><%= asterisk %> <%= @cheatsheet.title %> Cheatsheet</h1>
 	
<%= parse_cheatsheet_xml(@cheatsheet.content) %>
<%= render (:partial => "content/comments", :object => @cheatsheet ) %>

</div>

