<% remote_form_for :user, :url => { :action => :create_user } do |form| %>

<%= error_messages_for :user %>

<p><label for="user_firstname">Firstname</label>
<%= form.text_field :firstname %></p>

<p><label for="user_surname">Surname</label>
<%= form.text_field :surname %></p>
  
<p><label for="user_name">Username</label>
<%= form.text_field :name %></p>

<p><label for="user_email">Email</label>
<%= form.text_field :email %></p>
<%= submit_button %>
<% end %>