<%= javascript_include_tag :defaults %>
<h1><%= bigarrow %> Editing <%= @cheatsheet.title %> cheatsheet</h1>

<% form_for :cheatsheet, :url => {:controller => "content_admin", :action => "update_cheatsheet", :id => @cheatsheet}, :html => {:multipart => true} do |form| %>
<%= render :partial => "cheatsheet_form", :object => form %>
  <%= submit_button %>
  <% end %>
  <div id="add_new_category"> <p class="nopadding"> <%= diamond %>
  <%= link_to_remote "Add new category", :url => { :action => "add_new_category" } %></p>
  </div>
  <div id="add_new_user"><p class="nopadding"> <%= diamond %>
  <%= link_to_remote "Add new user", :url => { :action => "add_new_user" } %></p>

<%= link_to 'Back', :action => 'list' %>