<%= error_messages_for 'person_type' %>

<!--[form:person_type]-->
<p><label for="person_type_description">Description</label><br/>
<%= text_field 'person_type', 'description'  %></p>
<!--[eoform:person_type]-->

