<% for column in PersonType.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @person_type.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @person_type %> |
<%= link_to 'Back', :action => 'list' %>
