<%= error_messages_for 'poll' %>

<!--[form:poll]-->
<p><label for="poll_name">Name</label><br/>
<%= text_field 'poll', 'name'  %></p>

<p><label for="poll_created_at">Created at</label><br/>
<%= datetime_select 'poll', 'created_at'  %></p>
<!--[eoform:poll]-->

