login: &login
  adapter: mysql
  username: root
  timeout: 50000
  host: localhost

development:
  <<: *login
  database: dizzy_development

test:
  <<: *login
  database: dizzy_test

production:
  <<: *login
  database: dizzy_production
