development:
  adapter: mysql
  database: dizzy_development
  username: root
  timeout: 50000
  host: localhost

test:
  adapter: mysql
  database: dizzy_test
  username: root
  password:
  host: localhost

production:
  adapter: mysql
  database: dizzy_production
  username: root
  timeout: 50000
  host: localhost
