<h1><%= bigarrow %> Companies</h1>
<table class="articles">
	<% for company in @companies %>
	 <tr>
	 	<td>
	<%= diamond %> <%= link_to company.name, :action => 'edit', :id => company %>
	</td><td><%= company.description %></td>
	<% end %>
</table>