<h1><%= asterisk %> <%= @company.name %></h1>

<table>
<% for column in @company.portfolio_items %>
<tr>
	<td><%= column.portfolio_type.description %></td>
	<td><%= image_tag formatted_portfolio_item_path(column.id, :png) %></td>
</tr>
<% end %>
</table>