<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head><title>Error 500 Internal Server Error - Dizzy</title>
<%= stylesheet_link_tag "typography", :media => "all" %>
<%= stylesheet_link_tag "elements", :media => "all" %>
</head>
<body>
	<div id="error_container">
		<div id="error_left">
<%= image_tag("f/branding/dozy.png") %></div>
	<div id="error_right">
<h1><%= asterisk %> Error 500 - Internal Server Error</h1>
<p>We're sorry, but our servers have encountered an error. We've now been automatically notified about this by email, and we'll try to make sure it's resolved.</p>
</div>
</div>
</body>
</html>