/* Backend Portfolio
==================================== */
	.portfolio_item_header {
		border: 1px dotted #888;
		text-align:center;
	}
	.portfolio_item { border-top: 1px dotted #888; }
	
/* Frontend Portfolio
==================================== */
	#column1 {
		float:left; 
		width: 20%;
	}
	#logos {
		float:right;
		width: 80%
	}