<h1>New poll</h1>

<% form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
  
   <div id="items">
  <% @poll.votes.each_with_index do |item, index| %> 
<% fields_for "votes[#{index}]", item do |f| %>  
<%= f.text_field :option %><br/>
   <% end %>
   <% end %>
   </div>
  <%= submit_tag "Create" %>
<% end %>

<%= link_to 'Back', :action => 'list' %>
