<% fields_for edit.new_record? ? "company[new_portfolio_items][]" : "company[existing_portfolio_items][]", edit do |f| %>  

	<%= f.label :uploaded_data, "Choose file" %>
	<%= f.file_field :uploaded_data %>

	<%= f.label :portfolio_type_id, "Choose type" %>
	<%= f.collection_select :portfolio_type_id, PortfolioType.all, :id, :description %>

<% end %>