<div id="new_portfolio_item_form_<%= index %>">
	
<% fields_for "company[new_portfolio_items][]", portfolio_item do |f| %>  
	
	<p><%= f.label :uploaded_data %>Choose file</label>
	<%= f.file_field :uploaded_data %></p>
	
	<p><%= f.label :portfolio_type_id %>Choose type</label>
	<%= f.collection_select :portfolio_type_id, @designs, :id, :description %></p>  
	
<% end %>
</div>