	<% @comment = comment %>
	<% form_for :comment, :url => { :action => "create_child_comment", :id => id } do |form| %>
	<label for="comment_subject"><%= diamond %> Subject</label>
<%= form.text_field :subject %><br/>
	<label for="comment_email"><%= diamond %> Email</label>
<%= form.text_field :email %><br/>
		<label for="comment_content"><%= diamond %> Comment</label>
<%= form.text_area :content %><br/>
  <%= submit_button %>
	<% end %>