	<% @comment = comment %>
	<% form_for :comment, :url => { :action => "create_comment", :id => id } do |form| %>
		<label for="comment_subject"><%= diamond %> Subject</label>
		<%= form.text_field :subject %><br/>
		<label for="comment_email"><%= diamond %> Email</label>
		<%= form.text_field :email %><br/>
		<label for="comment_body"><%= diamond %> Comment</label>
		<%= form.text_area :body %><br/>
	  	<%= submit_button %>
		<% end %>