<% if @category %>
<% @title = @category.name %>
<h1><%= bigarrow %> <%= @category.name %></h1>
<% else %>
<% @title = "Cheatsheets" %>
<h1><%= bigarrow %> Cheatsheets</h1>
<% end %>
  <table class="articles">
 <%= render :partial => "article_link", :collection => @results %>
 </table>