 <div id="cheatsheet">
 	<% @title = @content.title %>
 	<div id="cheatsheet_title">
 <h1><%= asterisk %> <%= @content.title %> Cheatsheet</h1></div>


			<div id="content">

<%= render(:partial => "content/related", :object => @content ) %>
<%= render(:partial => "content/comments", :object => @content ) %>

</div>
</div>

<% content_for :thumbnail do %>

 <%= pdf_thumbnail(@content) %>
  <p><%= image_tag("f/small_icons/pdf.png") %> <%= diamond %> <%= link_to "Download PDF",{ :controller => "binaries", :action=> "pdf", :permalink => @content.permalink} %></p>
  <%= spiro %>
<% end %>