<td>
	<%= link_to image_tag(formatted_grey_binary_path(footer_logo,:png), :class => "footer_logo", :id => "footerlogo_#{footer_logo.id}"), portfolio_path(footer_logo) %>
	<div style="display:none;"><%= image_tag(formatted_binary_path(footer_logo,:png)) %></div>
</td>
<td></td>