<td><%= link_to image_tag("/binaries/footer_logo/#{footer_logo.id}.png"), :controller=> :portfolio, :action => :show, :id => footer_logo.id %></td>
<td><div id="poo"><%= image_tag("f/bullets/other/diamond.png", :size=>"13x13", :alt => "*") %></div></td>