<div id="top_container">
	
	<div id="logo"><%= image_tag("f/branding/header/logo.png", :size=> "85x84", :alt => "Dizzy logo")%></div>
	
	<div id="right_of_logo">
		<%= image_tag("f/branding/header/slogan_new.png", :size => "182x32", :alt => "Making business beautiful")%>	
		<%= image_tag("f/branding/header/#{random_number}.png", :alt => "Makeover") %>
	</div>
	
</div>