<div id="navigation">
	<div class="nav_selected"><h2> <%= link_to "HOME", { :controller => :portfolio, :action => :show, :id => "1" } %></h2></div>
			
	<div class="nav_button"><h2><%= link_to_remote "CONTACT", :url => { :controller => :welcome, :action => :contact } %></h2></div>
	<div class="nav_button"><h2> <%= link_to "SITEMAP ", { :controller => :cheatsheets, } %></h2></div>
	<div class="nav_button"><h2> <a href="/ruby-on-rails">RUBY ON RAILS</a></h2></div>
	<div class="nav_button"><h2> <a href="/ruby-on-rails">CHEATSHEETS</a></h2></div>
</div>
	