	<%= javascript_include_tag "rollover" %>
	<script type="text/javascript">
	    window.onload = function() {
	      new Rollover('footer', {suffixSeperator: '/'});
	       new Rollover('navigation');
	    }    
	</script>