 <div id="search_form">
  <h2 class="blue_bold"><%= bigarrow %> Search</h2>

      <form>
        <label for="search"><%= diamond %> Search:</label>
				<input type="text" id="search" value="" name="search" size="10" />
				<%= submit_button %>
			</form>
		</div>