<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head><title><%= @title %> - Dizzy</title>
<%= javascript_include_tag :defaults %>
<%= stylesheet_link_tag "cheatsheet", :media => "all" %>
<%= stylesheet_link_tag "admin", :media => "all" %>
<%= stylesheet_link_tag "main", :media => "all" %>
<%= stylesheet_link_tag "typography", :media => "all" %>
<%= stylesheet_link_tag "tables", :media => "all" %>
<%= stylesheet_link_tag "forms", :media => "all" %>
<%= stylesheet_link_tag "lists", :media => "all" %>
<%= stylesheet_link_tag "header_footer", :media => "all" %>
</head>

	<div id="page_container">
		<%= render :partial => "/layouts/navigation" %>
	<div id="top_container">
		<div id="right_logo"><img alt="Old -> New" src="/images/f/branding/footer/manold.png" /></div>
	</div>		
		<div id="content_container" class="clearfix">
			
			<div id="left_column">
				
			<%= yield %>
			</div>
			<div id="right_column">
				
		<%= render :partial => "/layouts/admin_links" %>
			</div>
	</div>
</div>
</body>
</html>