<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<title>Ruby on Rails - <%= @title %> - Dizzy</title>
	
	<%= core_front_end_stylesheets %>
	<%= stylesheet_link_tag "cheatsheet", 			:media => "all" %>
	<%= stylesheet_link_tag "syntax_highlighting", 	:media => "all" %>
	<%= stylesheet_link_tag "comments", 	:media => "all" %>
	
	<%= javascript_include_tag :defaults %>
	<%= javascript_include_tag "rollover" %> 
	
	<script type="text/javascript">
	    window.onload = function() {
	      new Rollover('footer', {suffixSeperator: '/'});
	      new Rollover('navigation')
	    }    
	</script>
</head>
<body>	

	<div id="page_container">
		
		<%= render :partial => "/layouts/header" %>
		<%= render :partial => "/layouts/navigation" %>

		<div id="content_container">
			<div id="left_column">
				
					<p><%= location_icon %> <a href="/">Home</a> &gt; <%= link_to "Ruby on Rails", latest_path %> &gt; <b><%= @main_category %></b></p>
				
				<%= yield %>
			</div>
			<div id="right_column">
				
				<%= yield :thumbnail %>
				<%= render :partial => "/layouts/category_list", :object => @categories %>
				
			</div>
			
		</div>
		
		<%= render :partial => "/layouts/footer" %>
	
	</div>
</body>
</html>